$thecolor: rgb(20, 170, 100);
:host {
    // background-color: #323232;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 10px 10px 10px 10px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    color: #FFFFFF;
    pointer-events: all;
    cursor: pointer;
  }
  .custom-circle {
    z-index: -1;
    display: block;
    background: rgb(20, 170, 100);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60%;
    left: 1%;
    margin-left: -150px;
    margin-top: -150px;
    
    // border: $thecolor;
    // border-radius: 50px;

    // margin-left: -250px;
    // margin-top: -250px;
    // margin-left: -400px;
    // margin-right: -100px;
    // margin-top: -100px;
    
    animation-duration: .25s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: createBox;
}
.toast-warning.custom-circle {
  background-color: #F89406 !important;
}
@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }